<section class="py-5">
  <div class="container">
    <div class="row">
      {% for client in page.header.clients %}
        <div class="col-md-3 col-sm-6">
          <a href="{{ client.url }}">
            <img src="{{ page.media[client.logo].url }}" class="img-fluid d-block mx-auto" alt="{{ page.media[client.logo].alt }}">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
