<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            {{ content }}
            {% for button in page.header.buttons %}
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ button.url }}">{{ button.text }}</a>
            {% endfor %}
        </div>
    </div>
</header>
